.clientList{
	display:flex;
	width: 70%;
	margin: auto;
	gap: 20px;
}

.clientList .main{
	width: 50%;
}

.clientList .search .form{
	display: flex;
	flex-direction: column;
}
.clientList .search input{
	width: 100%;
	font-size: 20px;
}
.clientList .clients{
	width: 100%;
	max-height: 50vh;
	overflow-y: auto;
}
.clientList .clients .client{
	box-sizing: border-box;
	width: calc(100% - 20px);
	margin: 10px;
	background: white;
	box-shadow: var(--box-shadow);
	padding: 20px;
}
.clientList .clients .client>*:last-child{
	margin-bottom: 0;
}