
:root{
	--color-button: #32d8d2;
	--color-button-over: #4c4cc5;
	--color-button-text: #FFF;
	--box-shadow: 0px 5px 16px 0px rgba(0,22,67,0.07);

}

h1,
p{
	margin-block-start: 0;
	margin-block-end: 1em;
}

.button{
	margin: 5px 0;
	padding: 10px 20px;
	border-radius: 20px;
	box-shadow:  0px 1px 10px rgba(0,22,67,0.7);
	border: none;
	background: var(--color-button);
	color: var(--color-button-text);
	font-size: 18px;
	font-weight: bold;
}
.button:hover{
	background: var(--color-button-over);
}

input{
	box-sizing: border-box;
	padding: 10px 20px;
	border-radius: 20px;
	font-size: 18px;
	border: none;
	box-shadow: inset 0px 1px 10px rgba(0,22,67,0.1);
}